<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Load Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="loadname">Load Name:</label>
      <input type="text" class="form-control" id="loadname" value="{{currentLoad.name}}">
      <label for="loadname">Caliber:</label>
      <input type="text" class="form-control" id="loadcaliber" value="{{currentLoad.caliber}}">
      <label for="loadname">Bullet Weight:</label>
      <input type="text" class="form-control" id="loadbulletweight" value="{{currentLoad.bulletWeight}}">
      <label for="loadname">Bullet Type:</label>
      <input type="text" class="form-control" id="loadbullettype" value="{{currentLoad.bulletType}}">
      <label for="loadname">Powder Weight:</label>
      <input type="text" class="form-control" id="loadpowderweight" value="{{currentLoad.powderWeight}}">
      <label for="loadname">Powder Type:</label>
      <input type="text" class="form-control" id="loadpowdertype" value="{{currentLoad.powderType}}">
      <label for="loadname">OAL:</label>
      <input type="text" class="form-control" id="loadoal" value="{{currentLoad.oal}}">
      <label for="loadname">Primer:</label>
      <input type="text" class="form-control" id="loadprimer" value="{{currentLoad.primer}}">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="editLoad(); modal.close('Close click')">Test Edit</button>
  </div>
</ng-template>
