@import "../../variables.scss";

span{
  color: white;
  width:10%;
  display:inline-block;
  text-align:center;
  vertical-align: middle;
  line-height: normal;
}

.d-inline-block{
  width:20%;
  .toggle-btn{

  }
}

@media (max-width: #{$mobile_max}){
  .loadDataPoint{
    display:block;
  }
}
